/*
 * LAYOUT
 */



main {
  width: 100%;
  max-width: 1400px;
  min-width: 360px;
  
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.desc {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


.desc p {
  font-size: 5em;
}

.desc h2 {
  font-size: 2em;
}

.desc span {
  font-size: 0.5em;
}

.desc * {
  margin: 0;
}

@media (max-width: 768px) {
  
  .desc p {
    font-size: 3.5em;
  }

  .desc  {
    font-size: 1.5em;
  }
}

/*
 * MAKE CIRCLE
 */

.circle-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 2em;
}

@media (max-width: 768px) {
  .circle-container {
    width: 600px;
    height: 600px;
  }
}

.circle-container > * {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.circle {
  background: aliceblue;
}

/*
 * MAKE WAVE
 */

.wave {
  background: url(wave.svg) repeat-x;
  opacity: 0.8;
}

.wave-below {
  background-color: red;
}

/*
 * SET WAVE POSITION
 */

.wave._0 {
  background-position: 0% 110%;
}
.wave-below._0 {
  clip-path: polygon(0% 110%, 0% 110%, 110% 110%, 110% 110%);
} 

.wave._25 {
  background-position: 0% 87%;
}
.wave-below._25 {
  clip-path: polygon(0% 110%, 0% 80%, 110% 80%, 110% 110%);
}

.wave._50 {
  background-position: 0% 57%;
}
.wave-below._50 {
  clip-path: polygon(0% 110%, 0% 58%, 110% 58%, 110% 110%);
}

.wave._75 {
  background-position: 0% 30%;
}
.wave-below._75 {
  clip-path: polygon(0% 110%, 0% 35%, 110% 35%, 110% 110%);
}

.wave._100 {
  background-position: 0% 5%;
}
.wave-below._100 {
  clip-path: polygon(0% 110%, 0% 15%, 110% 15%, 110% 110%);
}

/*
 * DEFINE FILLING ANIMATION
 */

@keyframes fill-wave {
  from {
    background-position: -1200px 110%;
  }
}

@keyframes fill-below {
  from {
    clip-path: polygon(0% 110%, 0% 110%, 110% 110%, 110% 110%);
  }
}

/*
 * DEFINE WAVE ANIMATION
 */

@keyframes wave-0 {
  to {
    background-position: 1200px 110%;
  }
}

@keyframes wave-25 {
  to {
    background-position: 1200px 87%;
  }
}

@keyframes wave-50 {
  to {
    background-position: 1200px 57%;
  }
}

@keyframes wave-75 {
  to {
    background-position: 1200px 30%;
  }
}

@keyframes wave-100 {
  to {
    background-position: 1200px 5%;
  }
}

/*
 * GIVE FILLING & WAVE ANIMATION
 */
:root {
  --ease-in: cubic-bezier(0.58, 0.42, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.42, 0.58);
}

.wave {
  animation-name: fill-wave, wave-0;
  animation-duration: 5s, 7s;
  animation-delay: 0s, 5s;
  animation-fill-mode: backwards, none;
  animation-iteration-count: 1, infinite;
  animation-timing-function: var(--ease-in), var(--ease-out);
}
.wave._25 {
  animation-name: fill-wave, wave-25;
}
.wave._50 {
  animation-name: fill-wave, wave-50;
}
.wave._75 {
  animation-name: fill-wave, wave-75;
}
.wave._100 {
  animation-name: fill-wave, wave-100;
}

.wave:nth-child(2) {
  animation-duration: 5s, 11s;
}

.wave:nth-child(3) {
  animation-duration: 5s, 13s;
}

.wave-below {
  animation: 5s var(--ease-in) forwards fill-below;
}
.wave-below._50 {
  animation: 7s -2s var(--ease-in) forwards fill-below;
}
.wave-below._75,
.wave-below._100 {
  animation: 6s -1s var(--ease-in) forwards fill-below;
}

/*
 * DEFINE TEXT ANIMATION
 */
@keyframes rise-up {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  70% {
    transform: translateY(-10px);
  }
}

.desc * {
  animation: 1s 6s both rise-up;
}

.desc._50 p {
  color: aliceblue;
}

.desc._75,
.desc._100 {
  color: aliceblue;
  background-color: aliceblue;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-24 20:2:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes borderanimation {
  0%{
    border-width: 500vb;
  }
  100%{
    border-width: 5px;
  }
}
.animationborder{
  animation: borderanimation 2s linear;
}
.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-25 16:10:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(50);
            transform: scale(50);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.title {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: white;
}

.title::before {
  width: 40px;
  height: 40px;
}

.title::after {
  width: 40px;
  height: 40px;
  animation: pulse 2s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  border-radius: 50%;
  left: 0px;
  background-color: aliceblue ;
  
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-28 1:17:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.pulse {
  stroke-dasharray: 1840;
  stroke-dashoffset: 3680;
  animation: dash 2s ease-out infinite;
  stroke: url(#strokeGradient);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body, html {
  width: 100vw;
  overflow: auto; /* Make sure it allows scrolling */
}